<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="<%= prefix %>css/style.css">
  </head>

  <body>
    When problems overwhelm us, and sadness smothers us<br>
    where do we find the will and the courage to continue?<br>
    Well the answer may come in the caring voice of a friend,<br>
    a chance encounter with a book, or from a personal faith.<br>
    For Janet, help came from her faith but it also came from a squirrel.<br>
    Shortly after her divorce, Janet lost her father.<br>
    Then she lost her job. She had mounting money problems.<br>
    But Janet not only survivied, she worked her way out of despondency,<br>
    and now she says life is good again.<br>
    How could this happen?<br>
    She told me that late, one autumn day, when she was at her lowest,<br>
    she watched a squirrel storing up nuts for the winter.<br>
    One at a time he would take them to the nest.<br>
    And she thought,<br>
    if that squirrel can take care of himself with the harsh winter coming on,<br>
    So can I.<br>
    Once I broke my problems into small pieces I was able to carry them,<br>
    Just like those acorns,<br>
    one at a time.<br>
  </body>
</html>
